body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  width: fit-content;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
}

select:focus {
  border: 2px solid #555;
}

input {
  width: fit-content;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #555;
}

.header {
  width: 100%;
  margin: 50px 100px;
  text-align: start;
  display: inline-block;
}

.row {
  display: flex;
}

.leftCol {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

#logout {
  width: auto;
  height: 30px;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 5%;
  cursor: pointer;
}

.rightCol {
  width: 70%;
}

#dogTable {
  border: 1px solid black;
  table-layout: fixed;
  width: 600px;
}

.dogTableRow {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
  text-align: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.deleteButton:hover {
  border: solid 2px red;
  cursor: pointer;
}


.pageLayout {
  align-content: center;
  width: 100%;
  margin: 30px 0 0 30px;
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 16px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: '';
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

#reset {
  width: auto;
  height: 30px;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: lightcoral;
  border-radius: 5%;
  cursor: pointer;
}

#match {
  width: auto;
  height: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: skyblue;
  border-radius: 5%;
  cursor: pointer;
}